* {
  font-family: 'Open Sans', sans-serif;
}
.primary-color {
  color: #173f71 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-nav {
  flex-direction: row !important;
  flex: 1 !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #000 !important;
}

.input-color {
  background-color: #173f71 !important;
  color: #fff !important;
}
.sidebar {
  background: #f8fbff;
  box-shadow: 0px 3px 6px #00000029;
}

.hei63 {
  height: 63vh;
}
.hei55 {
  height: 55vh;
}
.hei40 {
  height: 48.5vh;
}

.hei65 {
  height: 65vh;
}

.hei30 {
  height: 30vh;
}

.hei25 {
  height: 25vh;
}
::-webkit-scrollbar {
  width: unset;
}
.divs ::-webkit-scrollbar {
  width: 0.6em;
}

.divs ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
}

.divs ::-webkit-scrollbar-thumb {
  background-color: #706f6f;
  border-radius: 5px;
}

.left-icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.search-select {
  display: flex;
  justify-content: space-between;
}

.form-select {
  display: flex !important;
}
@media (min-width: 992px) {
  .content-size {
    -ms-flex: 0 0 65.8% !important;
    flex: 0 0 65.8% !important;
    max-width: 65.8% !important;
    margin-left: 8px;
  }
}

.modal-content {
  background-color: #f8fbff !important;
}

/* @media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px !important;
  }
} */

@media (max-width: 992px) {
  #wrapper,
  #wrapper_exercises,
  #wrapper_book,
  #wrapper_doc {
    margin-bottom: 0.7rem;
  }
  .hei65-sm {
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .question-btn {
    margin-top: 0.7rem;
    padding: 0 !important;
  }
}

@media (max-width: 600px) {
  .nav-link {
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem !important;
  }
}

#wrapper,
#wrapper_exercises,
#wrapper_book,
#wrapper_doc {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper {
  overflow-x: auto;
}

.wrapper-item {
  min-width: 110px;
  margin: 0rem 1rem;
}

.mar-y-o {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mar-l {
  margin-left: 1rem;
  width: 100% !important;
}

.exercise-color {
  background-color: #e8e0d2;
}

.answer-options {
  padding: 0.5rem 0;
}
.nav-bg a {
  font-weight: bold;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  max-height: 100px !important;
  overflow-y: scroll;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered::-webkit-scrollbar {
  width: 5px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered::-webkit-scrollbar-thumb {
  background: #8f977d;
}
