.Button {
  background-color: transparent;
  border: none;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
}
.Button.Large {
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px;
  background-color: #47a4e7;
}

.Button.Small {
  width: 80px;
  height: 30px;
  margin: 0 10px;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Button.Normal:hover {
  background-color: #3083be;
}

.Normal {
  background-color: #47a4e7;
}

.Second {
  background-color: rgba(71, 164, 231, 0.5);
}

.Button.Second:hover {
  background-color: rgba(71, 164, 231);
}

.Danger {
  background-color: #a60000;
}

.Button.Danger:hover {
  background-color: #ff0000;
}
