<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGNUP</title>
    <link rel="stylesheet" href="css/Style.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-signup">
        <div class="login">
          <a href="/login">
            <p>LOG IN</p>
            <div class="line"></div>
          </a>
        </div>
        <div class="signup">
          <p>SIGN UP</p>
          <div class="line"></div>
        </div>
      </div>
      <div class="inputs">
        <div class="field">
          <span>Names</span>
          <input id="name" type="text" placeholder="Names" />
        </div>
        <div class="field">
          <span>Email</span>
          <input id="email" type="text" placeholder="Email" />
        </div>
        <div class="field">
          <span>Phone</span>
          <input id="phone" type="text" placeholder="Phone" />
        </div>
        <div class="field">
          <span>Gender</span>
          <select id="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
        <div class="field">
          <span>Password</span>
          <input id="password" type="password" placeholder="Password" />
        </div>
        <div class="field">
          <span>Profile Picture</span>
          <input id="upload" type="button" value="UPLOAD" />
          <input id="profile" type="file" accept=".gif,.jpg,.jpeg,.png" />
        </div>
        <section>
          <input type="checkbox" value="accept" /> Accept terms and policy
        </section>
        <section id="error"></section>
        <section class="submit">
          <a href="/userpage"><button id="submit">SIGN UP</button></a>
          <p>Already have an account? <a href="/login">Log in</a></p>
        </section>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
