.Input {
  flex: 0 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: 500;
  font-size: 20px;
}

.InputElement {
  border-radius: 40px;
  padding: 5px;
  margin: 2px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
.InputElement[type='button'] {
  background: rgba(71, 164, 231, 0.5);
  font-weight: 500;
  cursor: pointer;
  width: 95%;
}
.InputElement[type='button']:hover {
  background: rgba(71, 164, 231);
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
