<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USER PAGE</title>
    <link rel="stylesheet" href="css/userpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="info">
      <div class="information">
        <div class="profile">
          <img id="profile" src="images/Ellipse 1.png" alt="" />
        </div>
        <div class="userInfo">
          <strong id="name">Jean Paul Munyemana</strong>
          <p id="email">munyemanajpaul@gmail.com</p>
          <p id="phone">+250784329869</p>
        </div>
        <a href="/update"><button>Edit Profile</button></a>
        <div class="btns">
          <button>Copy Link</button>
          <button>Invite People</button>
        </div>
        <i id="setting" class="fas fa-cog"></i>
      </div>
    </div>
    <div class="call">
      <div class="call-container">
        <div class="startCall">
          <a href="/video"><button>Video call</button></a>
          <a href="/audio"><button>Audio call</button></a>
        </div>
        <div class="join">
          <p>Join an ongoing metting</p>
          <div class="joinMetting">
            <input type="text" placeholder="Enter the metting link" />
            <a href="/call/video"><button>Join</button></a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/userpage.js"></script>
  </body>
</html>
