{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="users">
    <img src="{% static 'images' %}/view_comfy.svg" alt="" />
  </div>
  <div class="plus">
    <i class="fas fa-user-plus"></i>
  </div>
  <div class="audio-start">
    <div class="audio">
      <img src="{% static 'images' %}/Ellipse 3.svg" alt="" />
    </div>
  </div>
  <div class="participants show">
    <div class="title">
      <p>Participants</p>
      <div>
        <img src="{% static 'images' %}/view_list.svg" alt="" />
        <img src="{% static 'images' %}/view_comfy.svg" alt="" />
      </div>
    </div>
    <div class="participant">
      <i class="fas fa-ellipsis-v"></i>
      <img src="{% static 'images' %}/Rectangle 18.svg" alt="" />
    </div>
    <div class="participant">
      <i class="fas fa-ellipsis-v"></i>
      <img src="{% static 'images' %}/user2.svg" alt="" />
    </div>
    <div class="participant">
      <i class="fas fa-ellipsis-v"></i>
      <img src="{% static 'images' %}/Rectangle 20.svg" alt="" />
    </div>
    <div class="down"><i class="fas fa-angle-down"></i></div>
  </div>
  <div class="participants_2">
    <p class="title">Participants</p>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="first">
      <div class="button"><i class="fas fa-microphone-slash"></i></div>
      <div class="button" id="participants_2">
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="button"><i class="fas fa-comment-alt"></i></div>
      <div class="button"><i class="fas fa-record-vinyl"></i></div>
      <a href="/userpage"
        ><div class="button end"><i class="fas fa-phone"></i></div
      ></a>
    </div>
    <div class="second button">
      <i class="fas fa-cog"></i>
    </div>
  </div>
</div>
<script src="{% static 'js/starting.js' %}"></script>
{% endblock %}
