{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="users">
    <img src="{% static 'images' %}/view_comfy.svg" alt="" />
  </div>
  <div class="plus">
    <i class="fas fa-user-plus"></i>
  </div>
  <video id="video" src="" autoplay></video>
  <div class="participants">
    <div class="title">
      <p>Participants</p>
      <div>
        <img src="{% static 'images' %}/view_list.svg" alt="" />
        <img src="{% static 'images' %}/view_comfy.svg" alt="" />
      </div>
    </div>
    <div class="participant">
      <i class="fas fa-ellipsis-v"></i>
      <img src="{% static 'images' %}/Rectangle 18.svg" alt="" />
    </div>
    <div class="participant">
      <i class="fas fa-ellipsis-v"></i>
      <img src="{% static 'images' %}/user2.svg" alt="" />
    </div>
    <div class="participant">
      <i class="fas fa-ellipsis-v"></i>
      <img src="{% static 'images' %}/Rectangle 20.svg" alt="" />
    </div>
    <div class="down"><i class="fas fa-angle-down"></i></div>
  </div>
  <div class="participants_2">
    <p class="title">Participants</p>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
        <div><i class="fas fa-video-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
        <div><i class="fas fa-video-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
        <div><i class="fas fa-video-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
        <div><i class="fas fa-video-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
        <div><i class="fas fa-video-slash"></i></div>
      </div>
    </div>
    <div class="participant_2">
      <img src="{% static 'images' %}/Ellipse 2.svg" alt="" />
      <p>Jakob Botosh</p>
      <div class="btn">
        <div><i class="fas fa-microphone-slash"></i></div>
        <div><i class="fas fa-video-slash"></i></div>
      </div>
    </div>
  </div>
  <div class="chat">
    <div class="title">
      <p>Chat</p>
    </div>
    <div class="message from">
      <div class="details">
        <strong>From: Chris</strong>
        <strong>12:45</strong>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="message from">
      <div class="details">
        <strong>From: Chris</strong>
        <strong>12:45</strong>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="message to">
      <div class="details">
        <strong>To: Chris</strong>
        <strong>12:45</strong>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="message to">
      <div class="details">
        <strong>To: Everyone</strong>
        <strong>12:45</strong>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="send-attach">
      <div class="choose">
        <strong
          >To:
          <select>
            <option>Everyone</option>
            <option>Chris</option>
          </select></strong
        >
      </div>
      <textarea placeholder="Type here"></textarea>
      <div class="attach">
        <button>
          <strong>Attach file</strong><i class="fas fa-paperclip"></i></button
        ><button>Send</button>
      </div>
    </div>
  </div>
  <div class="settings">
    <div class="setting" id="participants_2_mobile">
      <i class="fas fa-user-friends"></i> <span>Participants</span>
    </div>
    <hr />
    <div class="setting" id="chat_mobile">
      <i class="fas fa-comment-alt"></i> <span>Chat</span>
    </div>
    <hr />
    <div class="setting">
      <i class="fas fa-record-vinyl"></i><span>Record</span>
    </div>
    <hr />
    <div class="setting" id="cancel">
      <span>Cancel</span>
    </div>
  </div>
  <div class="buttons">
    <div class="first">
      <div class="button"><i class="fas fa-microphone-slash"></i></div>
      <div class="button"><i class="fas fa-video"></i></div>
      <div class="button hide" id="participants_2">
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="button hide" id="chat">
        <i class="fas fa-comment-alt"></i>
      </div>
      <div class="button hide"><i class="fas fa-record-vinyl"></i></div>
      <div class="button" id="share">
        <img src="{% static 'images' %}/screen_share.svg" alt="" />
      </div>
      <a href="/userpage"
        ><div class="button end"><i class="fas fa-phone"></i></div
      ></a>
    </div>
    <button class="share">
      Share screen <img src="{% static 'images' %}/screen_share.svg" alt="" />
    </button>
    <div class="second button">
      <i class="fas fa-cog"></i>
      <i class="fas fa-ellipsis-h"></i>
    </div>
  </div>
</div>
<script src="{% static 'js/starting.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>

{% endblock %}
