@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary: #47a4e7;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(71, 164, 231, 0.3) 0%,
    rgba(71, 164, 231, 0) 100%
  );
}
.info {
  position: relative;
  width: 90%;
  height: 200px;
  background: #fff;
  margin: auto;
  border-radius: 20px;
  padding: 10px 50px;
  top: 100px;
}
.information {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: center;
}
.profile {
  margin: 0 20px;
}
.userInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 0 0;
}
.userInfo strong {
  padding: 10px 0 20px;
}
.userInfo p {
  padding: 3px 0;
}
.information button {
  padding: 5px 20px;
  margin: 0 20px;
  background: var(--primary);
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: 700;
}
.fas.fa-cog {
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--primary);
}
.edit {
  width: 136px;
  padding: 5px 20px;
  margin: 0 20px;
  background: var(--primary);
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: 700;
}

.call {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.call-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.startCall {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.startCall button {
  border-radius: 20px;
  padding: 0 40px;
  margin: 30px 0px;
  font-weight: 700;
  font-size: 25px;
  background: #47a4e7;
  outline: none;
  border: none;
  cursor: pointer;
}
.join {
  position: relative;
  width: 600px;
  height: 100px;
  border: 2px solid #000000;
  border-radius: 10px;
}
.joinMetting {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.joinMetting input {
  border-radius: 40px;
  width: 50%;
  padding: 5px;
  margin: 0 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}
.joinMetting button {
  border-radius: 20px;
  padding: 0 40px;
  margin: 30px 0px;
  font-weight: 700;
  font-size: 25px;
  background: #47a4e7;
  outline: none;
  border: none;
  cursor: pointer;
}
.join p {
  position: absolute;
  background: #e5f2fc;
  top: -10px;
  left: 20px;
  padding: 0 5px;
}
